body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: rgb(230, 128, 88); /* Soft red background */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .org_login {
    margin-top: 0;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  
  .login_container {
    background: white;
    height: inherit;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
    flex-direction: column;
  }
  
  .login_title {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .login_form {
    display: flex;
    flex-direction: column;
  }
  
  .login_form input {
    margin-bottom: 1rem;
    padding: 0.75rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
  }
  
  .login_button {
    padding: 0.75rem;
    font-size: 1rem;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login_button:hover {
    background-color: #45a049;
  }
  
  .error_message {
    color: red;
    margin-top: 1rem;
  }
  
  .signup_link {
    margin-top: 1rem;
    font-size: 1rem;
  }
  
  .signup_link span {
    color: blue;
    cursor: pointer;
    font-weight: bold;
  }
  
  .signup_link span:hover {
    text-decoration: underline;
  }
  