.org_profile {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(230, 128, 88);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.org_info {
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin-top: 2rem;
    justify-content: center;
    align-items: flex-start;
}

.org_details {
    margin: 1rem;
    padding: 2rem;
    width: 30%;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

#org_data {
    font-size: 20px;
    font-weight: 800;
    color: white;
}

.org_details table {
    width: 100%;
    margin-top: 1rem;
}

.org_details th,
.org_details td {
    padding: 0.5rem 0;
    text-align: left;
}

.org_selection {
    margin: 1rem;
    padding: 2rem;
    background-color: white;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; 
    border: 2px solid black;
    border-radius: 20px;
    position: relative;
}

.org_links {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center; 
}

.org_links li {
    list-style: none;
    padding-bottom: 60px;
    padding: 0.75rem 1.5rem;
    background-color: red;
    border: 2px solid black;
    color: red;
    font-size: 20px;
    font-weight: 500;
    display: center;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    height: 3rem;
}
.org_links li button{
    margin-bottom: 35px;
   width: 150px;
    height: 40px;
}
.org_links li button:hover{
    background-color: white;
    color: red;
}
.org_links li:hover {
    background-color: white;
   
}

.org_links_details {
    margin-top: 2rem;
    padding: 2rem;
    border: 1px solid black;
    background-color: rgba(90, 5, 5, 0.342);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.bloodtypes {
    width: 500px;
    padding: 1rem;
        color: black;
    border-radius: 10px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 10px;
}

form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 100%;
    margin-top: 2rem;
}

form .bloodtypes {
    width: 100%;
    background-color: transparent;
    color: black;
    padding: 0.5rem;
    border: none;
}

form .bloodtypes label {
    margin-right: 1rem;
}

form .bloodtypes input {
    padding: 0.5rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    grid-column: span 3;
    margin-top: 2rem;
    width: 230px;
    
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
    background-color: aquamarine;
    color: white;
}

form button:hover {
    background-color:blueviolet;
}
